<!DOCTYPE html>
<html lang="en">
<head>
<style>
div {
    background-color: #00bfff;
    color: #ffffff;
}
</style>
	<meta charset="UTF-8">
	<title>Статистика</title>
</head>
<body>
<legend><b>Приветствую, {{lit[3]}} {{lit[4]}}</b></legend>
<p>Вы знаете, что такое неологизм? Ответ: {{lit[0]}}</p>
<p>Приведённый Вами пример неологизма: {{lit[1]}}</p>
<p>Способ образования неологизма: {{lit[2]}}</p>
<p><a href='/'>Главная страница</a></p>
<p><a href='/search'>Поиск по результатам</a></p>
<p><a href='/json'>json со всеми введенными на сайте данными</a></p>
</body>
</html>